body{
	background-color: :#f4f4f4;
	color: black;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 0;
}

.container{
	width: 65%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	min-width: 900px;
	padding: 0;
}

#main-header h1{
	font-size: 70px;
	font-weight: 100;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#navbar ul{
	padding: 0;
	list-style: none;
	text-align: center;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: #555;
	text-decoration: none;
	font-size: 27px;
	padding-right: 15px;
	font-weight: 300;
}

#navbar a:hover{
	font-weight: bold;
}

#personalInfo{
	font-weight: 300;
}

#profilePic{
	text-align: center;
}

#main-footer{
	text-align: center;
	font-weight: 300;
}

.projectListing{
	float: left;
	width: 45%;
	border: 2px solid;
	border-radius: 0.7em;
	padding-left: 10px;
	box-sizing: border-box;
	margin: 0 2.5%;
	margin-bottom: 50px;
	height: 480px;
}

.projectListing h1{
	margin-top: 8px;
	margin-bottom: 0;
}

.projectListing h2{
	font-size: 15px;
	margin-top: 0;
	font-weight: 300;
}

.projectListing img{
	display: block;
	width: 60%;
	margin: auto;
}

.projectListing p{
	margin-top: 10px;
	margin-bottom: 5px;
}

.projectListing ul{
	margin: 0;
	padding: 0;
}

.projectListing li{
	list-style: none;
	display: inline;
}

.projectListing a{
	text-decoration: none;
	font-size: 16px;
	border: gray solid 2px;
	border-radius: 0.5em;
	padding: 2px;
	background-color: #f4f4f4;
	color: black;
}

.projectListing a:hover{
	background-color: #aab2b5;
}

#resume-gen-description a{
	text-decoration: none;
	font-size: 16px;
	border: gray solid 2px;
	border-radius: 0.5em;
	padding: 2px;
	background-color: #f4f4f4;
	color: black;
}

#resume-gen-description a:hover{
	background-color: #aab2b5;
}
